<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="/css/profilepagecss.css" rel="stylesheet"> 
  <link href="/css/card.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script> 
  <title>Hello, world!</title>
</head>

<body class="sidenav ">
  <!-- navbar begin -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black text-white">
    <div class="container-fluid">
      <div>
        <img src="/image/picture1.png" class="toplogo">
      </div>
      <a class="navbar-brand fw-bold" href="#">BitDev</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">competitive programming</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success me-3" type="submit">Search</button>
        </form>
        <ul class="aboutus navbar-nav ms-3 ">
          <li class="naav-item">
            <a class="aboutus nav-link" href="/logout">logout <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                <path d="M7.5 1v7h1V1h-1z" />
                <path
                  d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
              </svg></a>
          </li>
          <li class="nav-item">
            <a class="aboutus nav-link" href="#"> about us </a>
          </li>
        </ul>

        <form class="d-flex">
          <button type="button" class="btn btn-success text-black rounded-circle mx-1">AA</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- navbar end  -->
  <!-- content begin -->
  <div class="container-fluid bg-black ">
    <div class="row content">
      <!-- left column begin -->
      <div class="col-sm-2 text-center text-white border position-relative">  
        <div class="border border-secondary mt-lg-5 p-3">
          <p class="h4"> STATS </p>
          <p> friends : <%= curuser.friends.length %> </p>
          <p> posts : <%= curuser.posts.length %></p>
          <p> comments :  </p>
          <p> likes : 
            <% { var y = 0 ; %>
          <% for (var mypost of curuser.posts) { %>  
            <% y = y + mypost.likes ; %> 
           <% } %> 
           <%= y %> 
           <% } %>  
          </p>
        </div>
        <div class="border border-secondary mt-lg-5 p-3 shadow-lg shadow-light">
          <p class="h4">
            overall rating <br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </p>
        </div>
      </div>
      <!-- left column end  -->
      <!-- mid column begin  -->
      <div class="col-lg-8 border p-lg-5 bg-black text-white rounded ">
        <button type="button" class="btn btn-primary text-black rounded-circle dp fs-2">AA</button>
        <% if (user.id==curuser.id) { %>
          <span class="bottom-0 position-relative pt-lg-5 m-lg-3 link nav-item ">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square"
              viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </span>
        <% } %>
        <p class="h1 text-muted"><%= curuser.displayname %></p>   <!--display name -->
        <p class="h5"><%= curuser.username %></p>
        <p class="h5 lead text-wrap pr-lg-5"><%= curuser.description %></p>
        <div>
          <p class="mt-5"> email address <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
              <path
                d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
              <path
                d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
            </svg> : <%= curuser.email %></p>
          <p>codechef handle <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-badge-cc-fill" viewBox="0 0 16 16">
              <path
                d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm3.027 4.002c-.83 0-1.319.642-1.319 1.753v.743c0 1.107.48 1.727 1.319 1.727.69 0 1.138-.435 1.186-1.05H7.36v.114c-.057 1.147-1.028 1.938-2.342 1.938-1.613 0-2.518-1.028-2.518-2.729v-.747C2.5 6.051 3.414 5 5.018 5c1.318 0 2.29.813 2.342 2v.11H6.213c-.048-.638-.505-1.108-1.186-1.108zm6.14 0c-.831 0-1.319.642-1.319 1.753v.743c0 1.107.48 1.727 1.318 1.727.69 0 1.139-.435 1.187-1.05H13.5v.114c-.057 1.147-1.028 1.938-2.342 1.938-1.613 0-2.518-1.028-2.518-2.729v-.747c0-1.7.914-2.751 2.518-2.751 1.318 0 2.29.813 2.342 2v.11h-1.147c-.048-.638-.505-1.108-1.187-1.108z" />
            </svg> :<a class="link-light nounderline" href="https://www.codechef.com/users/<%=curuser.cchandle%>"> <%= curuser.cchandle%></a></p>
          <p>codeforces handle <span class="iconify" data-icon="simple-icons:codeforces"></span> : 
            <a class="link-light nounderline"href="https://www.codeforces.com/profile/<%=curuser.cfhandle%>"><%= curuser.cfhandle %></a></p>
        </div>
        <hr>
        <div class="h3 text-center posts bg-black text-white my-3" > TIMELINE </div>
        <!-- post card begin  -->  
        <div class ="container-fluid bg-black text-white px-0">  
          <div class="row">
          <% for (var mypost of curuser.posts) { %>
            <div class = "col-4 mx-5 px-0">
          <%- include('../partials/card' , {mypost}) %> 
        </div>
          <% } %> 
        </div>
      </div>
        <!-- post card ends  -->
      </div>
      <!-- mid column end   -->
      <!-- right column begin  -->
      <% if (user.id==curuser.id) { %>
        
      <div class="col-sm-2  text-center bg-black text-white border">
        <div class="border border-secondary mt-lg-5 p-3 ">
          <p class="h4">FRIENDS <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
              class="bi bi-person-plus-fill" viewBox="0 0 16 16">
              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path fill-rule="evenodd"
                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
            </svg></p> 
            <% if(curuser.friends.length < 6) { %>
            <% for (var myfriend of curuser.friends) { %>
            <p> <%= myfriend.displayname %> </p> 
            <% } %>    
            <% } else { %>
            <% for (var i = 0 ; i < 5 ; i++) { %> 
              <a class="nav-link nav-item link-light" href = "/users/<%= curuser.friends[i].id %> "><%= curuser.friends[i].displayname %></a>
              <% } %> 
              <a href="/users/<%= curuser.id %>/friends" class="link-light nav-link">more...</a>
              <% } %>
        </div>  
      </div>
      <% } %>
      <!-- right column end  -->
    </div>
  </div>
  <!-- content end  -->
  <!-- START FOOTER -->
  <section class="pb-2 pt-3 xs-p-b-20 bg-black border">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12 xs-m-b-40">
          <p class="fs-20 text-white pt-4 p-b-40 h4">BitDev</p>
          <!-- <img width="152" height="21" alt="" class="alt" data-src-retina="assets/images/logo_white_2x.png"
            src="./Pages - Front End_files/logo_white.png"> -->
        </div>
        <div class="col-sm-2 col-xs-6 xs-20">
          <h6 class="font-montserrat text-uppercase fs-14 text-white pb-1">team</h6>

          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">Aman</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">dewansh</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">parthiv</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">ankit</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">hriday</a></div>


        </div>
        <div class="col-sm-2 col-xs-6 xs-m-b-20">
          <h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">features </h6>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">project share</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">competitive programming</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">likes</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">comments</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">etc</a></div>
        </div>
        <div class="col-sm-2 col-xs-6 xs-m-b-20">
          <h6 class="font-montserrat text-uppercase fs-14 text-white pl-1">Clients </h6>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">team</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">location</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">contacts</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">about us</a></div>
          <div class="m-b-5 no-padding"><a class="link text-white text-muted nav-link"
              href="https://pages.revox.io/frontend/1.0/html/19/#">more</a></div>

        </div>
        <div class="col-sm-2 col-xs-6 xs-m-b-20">
          <h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">version </h6>
          <div class="m-b-5 no-padding"><a class="text-white nav-link text-muted" href="#">1.0.0</a></div>
          <!-- <li class="m-b-5 no-padding"><a class="link text-white"
                href="https://pages.revox.io/frontend/1.0/html/19/#">Home</a></li>
            <li class="m-b-5 no-padding"><a class="link text-white"
                href="https://pages.revox.io/frontend/1.0/html/19/#">Tour</a></li>
            <li class="m-b-5 no-padding"><a class="link text-white"
                href="https://pages.revox.io/frontend/1.0/html/19/#">Versions</a></li>
            <li class="m-b-5 no-padding"><a class="link text-white"
                href="https://pages.revox.io/frontend/1.0/html/19/#">Dropdown</a></li>
            <li class="m-b-5 no-padding"><a class="link text-white"
                href="https://pages.revox.io/frontend/1.0/html/19/#">Pricing Page</a></li>
            <li class="m-b-5 no-padding"><a class="link text-white"
                href="https://pages.revox.io/frontend/1.0/html/19/#">Blog</a></li> -->
        </div>
      </div>
      <p class="fs-12 hint-text p-t-10 text-white text-muted">Copyright © All Rights Reserved </p>
    </div>
  </section> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
<!-- <script src="/js/card.js"></script> -->
        <!-- <div class="card border-5">
          <img class="card-img-top p-lg-2" src="file:///C:/Users/amana/OneDrive/Desktop/profile%20page/postimage.jpg">
          <div class="card-body sidenav">
            <p class="card-text">some basic description/caption about the post</p>
            <div class="row">
              <div class="col-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                </svg> 51 </div>
              <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chat-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                </svg> 11
              </div>
              <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-share-fill" viewBox="0 0 16 16">
                  <path
                    d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                </svg>
              </div>
            </div>
          </div>
        </div> -->

                <!-- <div class="border border-secondary ">
          <p class="h4"> upcoming events <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
              <path
                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
            </svg> </p>
          <p> long challenge </p>
          <p> div 2 </p>
          <p> div 3 </p>
        </div> -->